body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px black solid;
  margin: 0 40px;
}

.search {
  display: flex;
}

#search-bar {
  width: 400px;
  margin-right: 5px;
}

#search-button {
  margin-left: 5px;
}

.car-details {
  display: flex;
  justify-content: center;
  border-bottom: 3px black solid;
  margin: 0 40px;
}